/*-- scss:defaults --*/
$primary: #0033A0;
$link-color: #0033A0;
$navbar-bg: #0033A0;
$navbar-fg: #ffffff;
$navbar-hl: #ffffff;
$body-color: #111111;
$body-bg: #ffffff;
$font-size-root: 17px;
$line-height-base: 1.65;

/*-- scss:rules --*/
:root {
  --uky-blue: #0033A0;
  --uky-blue-dark: #002D72;
  --uky-accent: #009CDE;
}
